@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,900');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

:root {
    --dark-green: #0e4f1f;
    --highlight-color: #ff1b68;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto fit-content(8rem);
    grid-template-rows: auto auto fit-content(8rem);
        grid-template-areas: "header"
                         "main"
                         "footer";
    height: 100%;
}

main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    /* grid-row: 2 / 3; */
    grid-area: main;
}

.backdrop {
    display: none;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.main-header {
    width: 100%;
    position: fixed;
    background-color: #2ddf5c;
    padding: 0.5rem 1rem;
    z-index: 60;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
  }

.main-header__brand {
    color: var(--dark-green);
    text-decoration: none;
    font-weight: bold;

}

.main-header__brand img {
    height: 2.5rem;
    vertical-align: middle;
}

.main-nav {
    display: none;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-nav__item {
    margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
    text-decoration: none;
    color: var(--dark-green);
    font-weight: bold;
    padding: 0.2rem 0;  
}

.main-nav__item a:hover, 
.main-nav__item a:active {
    color:white;
    border-bottom:  5px solid white;
}

.main-nav__item--cta {
    -webkit-animation: wiggle 400ms 3s 8 ease-out none;
            animation: wiggle 400ms 3s 8 ease-out none;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    color:white;
    background: var(--highlight-color);
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
    color:var(--highlight-color);
    background: white;
    border: none;
}

@media(min-width: 40rem) {
    .toggle-button {
        display: none;
    }

    .main-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.main-footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    background: black;
    padding: 2rem;
    margin-top: 3rem;
    /* grid-row: 3 / 3; */
    grid-area: footer;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-footer__link {
    margin: 0.5rem 0;
}

.main-footer__link a {
    color: white;
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: #ccc;
}

@media(max-width: 40rem) {
    .main-footer__link {
        display: block;
        margin: 1rem 0;
    }
}

.mobile-nav {
    -webkit-transform: translatex(-100%);
        -ms-transform: translatex(-100%);
            transform: translatex(-100%);
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: white;
    width: 80%;
    height: 100vh;
    -webkit-transition: -webkit-transform 300ms ease-out;
    transition: -webkit-transform 300ms ease-out;
    -o-transition: transform 300ms ease-out;
    transition: transform 300ms ease-out;
    transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}
  
.mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
  
.mobile-nav__item {
    margin: 1rem 0;
}
  
.mobile-nav__item a {
    font-size: 1.5rem;
}

.button {
    background: var(--dark-green);
    color: white;
    font: inherit;
    border: 1.5px solid var(--dark-green);
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover, 
.button:active {
    background: white;
    color:var(--dark-green);
}

.button:focus {
     outline: none;
}

.button[disabled] {
    cursor: not-allowed;
    border: #a1a1a1;
    background: #ccc;
    color: #a1a1a1;
}

.open {
    display: block !important;
    opacity: 1 !important;
    -webkit-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
            transform: translateY(0) !important;
}

@media (min-width: 40rem) {
    .main-footer__links {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .main-footer__link {
        margin: 0 1rem;
    }
}

@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotateZ(0);
                transform: rotateZ(0);
    }
    50% {
        -webkit-transform: rotateZ(-10deg);
                transform: rotateZ(-10deg);
    }
    100% {
        -webkit-transform: rotateZ(10deg);
                transform: rotateZ(10deg);
    }
}

@keyframes wiggle {
    0% {
        -webkit-transform: rotateZ(0);
                transform: rotateZ(0);
    }
    50% {
        -webkit-transform: rotateZ(-10deg);
                transform: rotateZ(-10deg);
    }
    100% {
        -webkit-transform: rotateZ(10deg);
                transform: rotateZ(10deg);
    }
}